/*====================================================
                      • Text Colors •
====================================================*/
.cz.gray-1 {
  color: $gray-1;
}
.cz.gray-2 {
  color: $gray-2;
}
.cz.gray-3 {
  color: $gray-3;
}
.cz.gray-4 {
  color: $gray-4;
}
.cz.gray-5 {
  color: $gray-5;
}
.cz.gray-6 {
  color: $gray-6;
}
.cz.gray-7 {
  color: $gray-7;
}
.cz.gray-8 {
  color: $gray-8;
}
.cz.gray-9 {
  color: $gray-9;
}
.cz.gray-10 {
  color: $gray-10;
}
.cz.gray-11 {
  color: $gray-11;
}
.cz.gray-12 {
  color: $gray-12;
}
.cz.gray-13 {
  color: $gray-13;
}




/*====================================================
                    • Backgrounds •
====================================================*/
.cz.gray-1.bg {
  background-color: $gray-1;
}
.cz.gray-2.bg {
  background-color: $gray-2;
}
.cz.gray-3.bg {
  background-color: $gray-3;
}
.cz.gray-4.bg {
  background-color: $gray-4;
}
.cz.gray-5.bg {
  background-color: $gray-5;
}
.cz.gray-6.bg {
  background-color: $gray-6;
}
.cz.gray-7.bg {
  background-color: $gray-7;
}
.cz.gray-8.bg {
  background-color: $gray-8;
}
.cz.gray-9.bg {
  background-color: $gray-9;
}
.cz.gray-10.bg {
  background-color: $gray-10;
}
.cz.gray-11.bg {
  background-color: $gray-11;
}
.cz.gray-12.bg {
  background-color: $gray-12;
}
.cz.gray-13.bg {
  background-color: $gray-13;
}
