/*====================================================
                      • Text Colors •
====================================================*/
.cz.green-1 {
  color: $green-1;
}
.cz.green-2 {
  color: $green-2;
}
.cz.green-3 {
  color: $green-3;
}
.cz.green-4 {
  color: $green-4;
}
.cz.green-5 {
  color: $green-5;
}
.cz.green-6 {
  color: $green-6;
}
.cz.green-7 {
  color: $green-7;
}
.cz.green-8 {
  color: $green-8;
}
.cz.green-9 {
  color: $green-9;
}
.cz.green-10 {
  color: $green-10;
}
.cz.green-11 {
  color: $green-11;
}
.cz.green-12 {
  color: $green-12;
}
.cz.green-13 {
  color: $green-13;
}




/*====================================================
                    • Backgrounds •
====================================================*/
.cz.green-1.bg {
  background-color: $green-1;
}
.cz.green-2.bg {
  background-color: $green-2;
}
.cz.green-3.bg {
  background-color: $green-3;
}
.cz.green-4.bg {
  background-color: $green-4;
}
.cz.green-5.bg {
  background-color: $green-5;
}
.cz.green-6.bg {
  background-color: $green-6;
}
.cz.green-7.bg {
  background-color: $green-7;
}
.cz.green-8.bg {
  background-color: $green-8;
}
.cz.green-9.bg {
  background-color: $green-9;
}
.cz.green-10.bg {
  background-color: $green-10;
}
.cz.green-11.bg {
  background-color: $green-11;
}
.cz.green-12.bg {
  background-color: $green-12;
}
.cz.green-13.bg {
  background-color: $green-13;
}
