/*====================================================
                      • Text Colors •
====================================================*/
.cz.pink-1 {
  color: $pink-1;
}
.cz.pink-2 {
  color: $pink-2;
}
.cz.pink-3 {
  color: $pink-3;
}
.cz.pink-4 {
  color: $pink-4;
}
.cz.pink-5 {
  color: $pink-5;
}
.cz.pink-6 {
  color: $pink-6;
}
.cz.pink-7 {
  color: $pink-7;
}
.cz.pink-8 {
  color: $pink-8;
}
.cz.pink-9 {
  color: $pink-9;
}
.cz.pink-10 {
  color: $pink-10;
}
.cz.pink-11 {
  color: $pink-11;
}
.cz.pink-12 {
  color: $pink-12;
}
.cz.pink-13 {
  color: $pink-13;
}




/*====================================================
                    • Backgrounds •
====================================================*/
.cz.pink-1.bg {
  background-color: $pink-1;
}
.cz.pink-2.bg {
  background-color: $pink-2;
}
.cz.pink-3.bg {
  background-color: $pink-3;
}
.cz.pink-4.bg {
  background-color: $pink-4;
}
.cz.pink-5.bg {
  background-color: $pink-5;
}
.cz.pink-6.bg {
  background-color: $pink-6;
}
.cz.pink-7.bg {
  background-color: $pink-7;
}
.cz.pink-8.bg {
  background-color: $pink-8;
}
.cz.pink-9.bg {
  background-color: $pink-9;
}
.cz.pink-10.bg {
  background-color: $pink-10;
}
.cz.pink-11.bg {
  background-color: $pink-11;
}
.cz.pink-12.bg {
  background-color: $pink-12;
}
.cz.pink-13.bg {
  background-color: $pink-13;
}
