/*====================================================
                      • Text Colors •
====================================================*/
.cz.purple-1 {
  color: $purple-1;
}
.cz.purple-2 {
  color: $purple-2;
}
.cz.purple-3 {
  color: $purple-3;
}
.cz.purple-4 {
  color: $purple-4;
}
.cz.purple-5 {
  color: $purple-5;
}
.cz.purple-6 {
  color: $purple-6;
}
.cz.purple-7 {
  color: $purple-7;
}
.cz.purple-8 {
  color: $purple-8;
}
.cz.purple-9 {
  color: $purple-9;
}
.cz.purple-10 {
  color: $purple-10;
}
.cz.purple-11 {
  color: $purple-11;
}
.cz.purple-12 {
  color: $purple-12;
}
.cz.purple-13 {
  color: $purple-13;
}




/*====================================================
                    • Backgrounds •
====================================================*/
.cz.purple-1.bg {
  background-color: $purple-1;
}
.cz.purple-2.bg {
  background-color: $purple-2;
}
.cz.purple-3.bg {
  background-color: $purple-3;
}
.cz.purple-4.bg {
  background-color: $purple-4;
}
.cz.purple-5.bg {
  background-color: $purple-5;
}
.cz.purple-6.bg {
  background-color: $purple-6;
}
.cz.purple-7.bg {
  background-color: $purple-7;
}
.cz.purple-8.bg {
  background-color: $purple-8;
}
.cz.purple-9.bg {
  background-color: $purple-9;
}
.cz.purple-10.bg {
  background-color: $purple-10;
}
.cz.purple-11.bg {
  background-color: $purple-11;
}
.cz.purple-12.bg {
  background-color: $purple-12;
}
.cz.purple-13.bg {
  background-color: $purple-13;
}
