/*====================================================
                    • green •
====================================================*/
#green1 {
  fill: $green-1;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#green2 {
  fill: $green-2;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#green3 {
  fill: $green-3;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#green4 {
  fill: $green-4;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#green5 {
  fill: $green-5;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#green6 {
  fill: $green-6;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}

#green7 {
  fill: $green-7;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}

#green8 {
  fill: $green-8;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#green9 {
  fill: $green-9;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#green10 {
  fill: $green-10;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#green11 {
  fill: $green-11;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#green12 {
  fill: $green-12;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#green13 {
  fill: $green-13;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
