/*====================================================
                    • lred •
====================================================*/
#lred1 {
  fill: $lred-1;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#lred2 {
  fill: $lred-2;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#lred3 {
  fill: $lred-3;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#lred4 {
  fill: $lred-4;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#lred5 {
  fill: $lred-5;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#lred6 {
  fill: $lred-6;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}

#lred7 {
  fill: $lred-7;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}

#lred8 {
  fill: $lred-8;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#lred9 {
  fill: $lred-9;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#lred10 {
  fill: $lred-10;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#lred11 {
  fill: $lred-11;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#lred12 {
  fill: $lred-12;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#lred13 {
  fill: $lred-13;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
