/*====================================================
                    • marine •
====================================================*/
#marine1 {
  fill: $marine-1;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#marine2 {
  fill: $marine-2;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#marine3 {
  fill: $marine-3;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#marine4 {
  fill: $marine-4;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#marine5 {
  fill: $marine-5;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#marine6 {
  fill: $marine-6;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}

#marine7 {
  fill: $marine-7;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}

#marine8 {
  fill: $marine-8;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#marine9 {
  fill: $marine-9;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#marine10 {
  fill: $marine-10;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#marine11 {
  fill: $marine-11;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#marine12 {
  fill: $marine-12;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#marine13 {
  fill: $marine-13;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
