/*====================================================
                    • orange •
====================================================*/
#orange1 {
  fill: $orange-1;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#orange2 {
  fill: $orange-2;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#orange3 {
  fill: $orange-3;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#orange4 {
  fill: $orange-4;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#orange5 {
  fill: $orange-5;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#orange6 {
  fill: $orange-6;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}

#orange7 {
  fill: $orange-7;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}

#orange8 {
  fill: $orange-8;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#orange9 {
  fill: $orange-9;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#orange10 {
  fill: $orange-10;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#orange11 {
  fill: $orange-11;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#orange12 {
  fill: $orange-12;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#orange13 {
  fill: $orange-13;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
