/*====================================================
                    • purple •
====================================================*/
#purple1 {
  fill: $purple-1;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#purple2 {
  fill: $purple-2;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#purple3 {
  fill: $purple-3;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#purple4 {
  fill: $purple-4;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#purple5 {
  fill: $purple-5;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#purple6 {
  fill: $purple-6;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}

#purple7 {
  fill: $purple-7;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}

#purple8 {
  fill: $purple-8;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#purple9 {
  fill: $purple-9;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#purple10 {
  fill: $purple-10;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#purple11 {
  fill: $purple-11;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#purple12 {
  fill: $purple-12;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
#purple13 {
  fill: $purple-13;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    animation: 1s tada infinite alternate;
  }
}
